
body{
  background-color:
  #800080;
}
.App{
  background-color:#d966ff;
  height:600px;
  width: 500px;
  margin: 30px auto;
  border-radius: 20px
}
#to-do-form input{
  background-color: hsl(310, 100%, 95%);
  color:#003399;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 22px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color:#00b300 ;
  font-size: 22px;
}


#to-do-form button{
  height: 50px;
  width: 100px;
  border-radius: 15px;
  background-color:#ffffff; 
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}
